DEV = 1\0 value
DEV_DATABASE_URL= dev database url
SECRET = sercret
ORIGIN = frontend 

GOOGLE_CLIENT_ID = ...
GOOGLE_CLIENT_SECRET = ...

GITHUB_CLIENT_ID = ...
GITHUB_CLIENT_SECRET =  ...

CLOUDINARY_NAME_PUBLIC = ...
CLOUDINARY_KEY = ...
CLOUDINARY_SECRET = ...